body {
    background-color: #222;
    color: #eee;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    margin-top: 20px;
}

#animations {
    margin-bottom: 10px;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

#canvas1 {
    border: 2px solid #eee;
    background-color: #444;
    display: block;
    margin: 0 auto; /* centrar canvas */
}

